*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
     background-image:url("../image/bookshelf.png");
    font-family: sans-serif;
    line-height: 1.6;
    background-color: #fefefe;
    color: #333;
}
header{
    background-color:#333;
    color: white;
    padding: 1rem;
    text-align: center;
}
nav a{
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}
h2,p{
    background-color:rgb(175, 212, 238);
    padding: 2rem;
    text-align: center;}
    .myfav{
        padding: 40px 20px;
        background-color: #f9f9f9;
        text-align: center;
    }
    .myfav h2{
   font-size: 2rem;
   margin-bottom: 30px;
   color: #333;
    }
   .author-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
    .author-card p{
        font-size: 1.4rem;
        color: #555;
        line-height: 1.5;
    }
 .author-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px; /* optional fixed width */
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

    .author-card:hover {
    transition: transform 0.3s ease;
    }
.author-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}
.author-card h3,
.author-card p {
  margin-top: 15px;
  font-size: 1rem;
  text-align: center;
  width: 100%;
}

footer{
    text-align: center;
    background-color: #333;
    color: #fff;
}