*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
     background-image:url("../image/books.png");
    font-family: sans-serif;
    line-height: 1.6;
    background-color: #fefefe;
    color: #333;
}
header{
    background-color:#333;
    color: white;
    padding: 1rem;
    text-align: center;
}
nav a{
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}
h3{
    background-color: dimgray;
    box-sizing: content-box;
    border: solid ;
    border-radius: 20px;

}
.hero{
    background-color:#E6F0FF;
    padding: 2rem;
    text-align: center;
}
.genre{
    padding: 2rem;
    text-align: center;
}
.genre-box{
    display: inline-block;
    width: 150px;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid #333333;
    border-radius: 10px;
    background-color: #f0f0f0;
    transition: 0.3s;

}